.container {
  display: flex;
  justify-content: flex-end; /* Đặt acticle-container sang bên phải */
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e53ca1;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton img {
    width:25px;
    height:auto;
}
.wrap{
  width: 30%;
  margin-top:50px;
  position: absolute;
  top: 20px;
  left: 20px;
}


.sidebar {
    margin-top: 80px;
    margin-left: 40px;
    width: 250px;
    height: fit-content;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Đường bo màu xám */
    border-radius: 5px; /* Độ cong cho đường bo */
    display: inline-block; /* Hiển thị trên cùng một dòng */
    padding: 5px 10px; /* Khoảng cách giữa văn bản và đường bo */
}

.sidebar ul li a {
    color: #e40985;
    text-decoration: none; /* Loại bỏ dấu gạch chân */
}

.content {
    padding: 20px;
}
.acticle-container {
  flex: 1; /* Để acticle-container mở rộng hết khoảng trống còn lại */
  padding: 80px;
}
.article {
  width: 700px;
  height: 120px;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.hashtag {
  color: #00aaff;
}

h2 {
  margin: 0;
}

.author,
.date {
  font-size: 14px;
  margin: 5px 0;
}
