
footer {
    background-color: #3f3f3f;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 ;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-logo {
    margin-top: -60px;
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-logo h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #FF3399;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.footer-links ul li a:hover {
    color: #ee7bd3;
}

.footer-social a {
    margin:auto;
    display: inline-block;
}

.footer-copyright {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}
