
  
  .Chatbox {
 
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Thêm style cho form */
  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
    margin-left: 20px;
  }
  
  /* thiết lập style textarea */
  .form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #dab3b3;
    resize: none;
    min-height: 100px;
  }
  
  /*thiết lập style cho textarea khi được focus */
  .form-container textarea:focus {
    background-color: #bb8989;
    outline: none;
  }
  
  /* Sthiết lập style cho nút trong form*/
  .form-container .btn {
    background-color: rgb(125, 100, 100)50, 2;
  }
  
  /* Thiết lập màu nền cho nút đóng chatbox */
  .form-container .nut-dong-chatbox {
    background-color: rgb(237, 142, 142);
  }
  
  /* Thêm hiệu ứng hover cho nút*/
  .form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
  }

  /* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }