:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #f2f2f2;
    /* --main-color: #00B2FF; */
    --main-color: #0066FF;
    --red-color: #f32013;
    --green-color: #77dd77;
}

* {
    box-sizing: inherit;   
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1100px;
    max-width:80%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    /* display: flex; */
    flex-wrap: wrap;
}

.container__wrap {
    margin-left: 10.3rem;
    margin-right: 10.3rem;
}

.disable {
    display: none !important;
}

.error {
    border: 0.1rem solid var(--red-color) !important;
}

.swal2-success {
    color: var(--green-color) !important;
    border-color: var(--green-color) !important;
}

.swal2-warning, .swal2-error {
    color: var(--red-color) !important;
    border-color: var(--red-color) !important;
}

/* swal2-error */
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
    background-color: var(--red-color) !important;
}

button.swal2-confirm {
    background-color: var(--green-color) !important;
}

button.swal2-confirm:focus {
    box-shadow: none !important;
}

/* Button */

.button {
    border: .2rem solid var(--main-color);
    border-radius: 1.8rem;
    transition: background-color ease-in-out .25s;
    cursor: pointer;
}

.disabled-button {
    cursor: not-allowed;
}

.button--red {
    color: var(--white-color) !important;
    background-color: var(--red-color);
    border: none !important;
}

.button--red:hover {
    background-color: rgba(243, 32, 19) !important;
}

.button--main {
    color: var(--white-color) !important;
    background-color: var(--main-color);
}

.button--main:hover {
    background-color: #0150a0 !important;
    border: .2rem solid #0150a0 !important;
}

.button--black:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.button--black {
    border: none !important;
    background-color: var(--black-color);
    color: var(--white-color) !important;
    transition: all .25s linear;
}

.button--green {
    border: none !important;
    background-color: var(--green-color);
    color: var(--black-color) !important;
}

.button--green:hover {
    background-color: rgba(119, 221, 119) !important;
}

.button--black:hover {
    color: #c4c4c4 !important;
}

/* End of button */

.border-none {
    border: none !important;
}

.border-none:hover {
    border: none !important;
}


/* Modal */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade-in linear .1s;
    z-index: 999 !important;
}


.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999 !important;
}

.modal__body {
    --grow-from: 0.5;
    --grow-to: 1;
    background-color: var(--white-color);
    border-radius: .5rem;
    margin: auto;
    z-index: 9999;
    animation: grow linear .25s;
}
/* End of Modal */

/* Toast mess */

.slide-in-top {
    position: absolute;
    top: 3rem;
    animation: slide-in-top linear .2s ;
}

.slide-in-right {
    position: fixed;
    top: 3rem;
    right: 3rem;
    animation: slide-in-right ease .2s;
}

.toast-mess {
    background-color: var(--white-color);
    height: 8rem;
    width: auto;
    padding: 0 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: .6rem;
}

.toast-mess--success {
    border: 1px solid var(--green-color);
    border-left: 1rem solid var(--green-color);
}

.toast-mess--error {
    border: 1px solid var(--red-color);
    border-left: 1rem solid var(--red-color);
}

.toast-mess--error .fa-circle-xmark {
    color: var(--red-color);
}

.toast-mess .fa-circle-check, .toast-mess .fa-circle-xmark {
    font-size: 2.8rem;
    margin: auto;
    margin-right: 1.6rem;
}

.toast-mess__text {
    height: fit-content;
    margin: auto;
}

.toast-mess__text h3 {
    margin: .4rem 0;
}

.toast-mess .fa-xmark {
    position: absolute;
    cursor: pointer;
    font-size: 1.7rem;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    padding: .2rem .45rem;
    text-align: center;
}

.toast-mess .fa-xmark:hover {
    background-color: rgba(0, 0, 0, .2);
    color: var(--white-color);
}

/* End of Toast mess */

/* Keyframes */

@keyframes slide-in-top {
    from {
        opacity: 0;
        top: -10rem;
    } to {
        opacity: 1;
        top: 3rem;
    }
}


@keyframes slide-in-right {
    from {
        opacity: 0;
        right: -10rem;
    } to {
        opacity: 1;
        right: 3rem;
    }
}


@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;;
    }
}

@keyframes grow {
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}

@keyframes shrink {
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}


@media (max-width: 1366px) {
    html {
        font-size: 57%;
    }
}

.img{
    width:500px;
    height: 500px;
}